html, body {
}
html {
}
body {
}
h1 {
}

h2 {
  color:Blue;
} 

p {
  color:DodgerBlue;
} 

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
}

caption:hover {
  background-color: coral;
  color: DodgerBlue;
}

th, td {
  padding: 8px;
/*   text-align: center; */
  border-bottom: 1px solid blue;
}

th:hover, td:hover {
  background-color: coral;
}

tr:nth-child(even) {
  background-color: lightgrey;
}
