.markdown-body caption:hover {
  text-decoration: underline;
  background-color: coral;
}

.markdown-body table th:hover,
.markdown-body table td:hover {
  text-decoration: underline;
  background-color: coral;
  color: DodgerBlue;
}

.markdown-body p {
  display: : block;
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body::before {
  display: block;
  content: "";
}

.markdown-body::after {
  display: block;
  clear: both;
  content: "";
}

.markdown-body div {
  display: : block;
  justify-content: center;
  align-items: center;
}

caption:hover {
  background-color: coral;
  color: DodgerBlue;
}

th, td {
  padding: 8px;
/*   text-align: center; */
  border-bottom: 1px solid blue;
}

th:hover, td:hover {
  background-color: coral;
}

tr:nth-child(even) {
  background-color: lightgrey;
  z-index: -1;
}
