html, body {
}

html {
/*   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
/*   height: 100%; */
}

body {
/*   overflow: hidden; */
/*   height: inherit; */
}

h1 {
/*   font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white; */
}

h2 {
  color:Blue;
} 

p {
  color:DodgerBlue;
} 

table {
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid blue;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tr:hover {
  background-color: coral;
}

caption:hover {
  background-color: coral;
  color: DodgerBlue;
}

div.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
